.slider {
    background-color: #f9fbfb;
    padding: 0 0 140px 0;
}
.swiper {
    position: relative;
    height: 100%;
    background: #eee;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 460px;
}
.swiper-wrapper {
}
.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    align-items: center;
    &__container {
        display: flex;
        align-items: center;
    }
    &__shadow {
        background-color: #e3e4e6;
        width: 394px;
        height: 363px;
        margin: 0px 0px -50px 60px;
        position: absolute;
        left: -4.8%;
        top: 10%;
    }

    &__wrap {
    }

    &__img {
        z-index: 2;
        overflow: hidden;
        width: 320px;
        height: 411px;
        margin: 0 0 0 100px;
        box-shadow: 1px 0px 5px #404141;
        position: absolute;
        left: -5%;
    }
    &__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__body {
        background-color: #e3e4e6;
        padding: 100px 80px 70px 80px;
        width: 667px;
        height: 363px;
        position: absolute;
        right: 0;
    }

    &__title {
        font-family: Merriweather;
        font-weight: 700;
        font-size: 20px;
        margin: 0 0 30px 0;
        text-align: center;
        span {
            font-size: 16px;
            color: #767878;
        }
    }

    &__text {
        font-family: Raleway;
        font-size: 16px;
        text-align: center;
        color: #696a6b;
        margin: 0 0 32px 0;
    }

    &__rating {
        display: flex;
        justify-content: center;
    }
    &__rating img {
        margin: 0 5px 0 0;
    }
    &__rating img:last-child {
        margin: 0 0 0 0;
    }
}
.swiper__pegination {
    margin: 0 0 0 14%;
}
.swiper-button {
    display: flex;
    position: absolute;
    right: 5%;
    margin: 10px 0 0 0;
    &__prev {
        cursor: pointer;
        background-color: #fff;
        transform: rotate(180deg);
        padding: 20px;
        border-radius: 5px;
        transition: 0.5s;
    }
    &__next {
        cursor: pointer;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        transition: 0.5s;
    }
    &__prev:hover {
        background-color: #71f6eb;
    }
    &__next:hover {
        background-color: #71f6eb;
    }
}
.swiper-scrollbar {
}
.swiper-slide {
    background-color: #f9fbfb;
}
.company {
    &__content {
        padding: 100px 0px;
    }
}
